body {
    background: url("media/fondo-.jpg");
    font: 12pt sans-serif;
}
#wrapper .main-header {
    width: 100%;
    max-width:10000px;
    margin:auto;
}

#wrapper .main-header p {
    margin-bottom:40px;
}

header nav {
    background:#1f522d;
    margin-bottom:10px;
}

header nav ul {
    list-style: none;
    overflow: hidden;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    padding:20px;
    color:#fff;
    text-decoration: none;
}

header nav ul li a:hover {
    background:#62763f;
}
#wrapper h2 {
    color:#1f522d;
    font-size: 14pt;
    margin: 4px;
    margin-left: 18px;
}
#contents h1{
    background-color: #1f522d;
    border-radius: 8px;
    color: white;
    padding: 8px 8px 8px 8px;
    font-size: 16pt;
    margin: 4px;
    text-align: center;
}


#wrapper #contents {
    border: 2px solid #1f522d;
    background: white;
    border-radius: 16px; 
    margin: 8px 8px 8px 24px;
    padding: 8px 16px 8px 16px;
    width: 60%;
}


#wrapper #contents form input,
#wrapper #contents form button {
    font: inherit;
}

#wrapper #contents .info {

}

#wrapper #inicial {
    background-color: #1f522d;
    border-radius: 8px;
    color: white;
    padding: 8px 8px 8px 8px;
    font-size: 14pt;
    margin: 4px;
    text-align: center;
}
#wrapper #contents .tablaDatos {
    border: none;
    width: 90%;
    text-align: center;
}

.col1 {
    padding-right: 24px;
    text-align: right;
}

.col2 {
    background-color: #e5e5e5;
    font-weight: bold;
    padding: 4px 16px 4px 16px;
}


#wrapper #contents .mensajeError {
    color: #cc0000;
}
